<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<queries>
		<package android:name="com.mages.chaoschild_jp" />
	</queries>

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		tools:remove="android:maxSdkVersion"
		tools:ignore="ScopedStorage" />

	<application
		android:name=".OkkeiApplication"
		android:hasFragileUserData="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.OkkeiPatcher"
		tools:ignore="UnusedAttribute">

		<activity
			android:name=".ui.navhost.NavHostActivity"
			android:exported="true"
			android:theme="@style/Theme.OkkeiPatcher.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="${applicationId}.androidx-startup"
			android:exported="false"
			tools:node="merge">
			<meta-data
				android:name="androidx.work.WorkManagerInitializer"
				tools:node="remove" />
		</provider>

	</application>
</manifest>