<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Okkei Patcher
  ~ Copyright (C) 2023-2024 Ilya Fomichev
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<queries>
		<package android:name="com.mages.chaoschild_jp" />
	</queries>

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<uses-permission
		android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION"
		tools:node="remove" />
	<uses-permission
		android:name="android.permission.ENFORCE_UPDATE_OWNERSHIP"
		tools:node="remove" />

	<application
		android:name=".OkkeiApplication"
		android:enableOnBackInvokedCallback="true"
		android:hasFragileUserData="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.OkkeiPatcher"
		android:localeConfig="@xml/locales_config"
		android:networkSecurityConfig="@xml/network_security_config"
		android:usesCleartextTraffic="false"
		tools:targetApi="35">

		<activity
			android:name=".ui.navhost.NavHostActivity"
			android:exported="true"
			android:theme="@style/Theme.OkkeiPatcher.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service
			android:name="androidx.work.impl.foreground.SystemForegroundService"
			android:foregroundServiceType="specialUse"
			tools:node="merge">
			<property
				android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
				android:value="Long-running process of applying a localization patch to a game, backing up and restoring game data, downloading large amounts of data." />
		</service>

		<service
			android:name=".data.service.BinaryPatchService"
			android:exported="false"
			android:process=":binarypatch" />

		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="${applicationId}.androidx-startup"
			android:exported="false"
			tools:node="merge">
			<meta-data
				android:name="androidx.work.WorkManagerInitializer"
				tools:node="remove" />
		</provider>

		<receiver
			android:name=".data.receiver.AppUpdateReceiver"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>

	</application>
</manifest>